<h2 class="page-header">Editar Livro</h2>
<form action="/books/<%=book.id%>?_method=PUT" method="POST">
<!-- Em vez de criar os campos pra preencher aqui, criou-se uma view parcial pra reaproveitar os campos na view edit -->
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancelar</a>
        <button class="btn btn-primary" type="submit">Criar</button>
    </div>
</form>