<h2 class="page-header">Todos os livros</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="title">Título</label>
            <input type="text" name="title" value="<%=busca.title%>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="publishedBefore">Publicado antes</label>
            <input type="date" name="publishedBefore" value="<%=busca.publishedBefore%>">
        </div>
        <div class="form-item">
            <label for="publishedAfter">Publicado depois</label>
            <input type="date" name="publishedAfter" value="<%=busca.publishedAfter%>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
    
</form>
<br>
<div>
    <%- include('../partials/bookGrid', { books: books }) %>
</div>
