<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Minha Estante</a>
        <ul>
            <li><a href="/authors ">Autores</a></li>
            <li><a href="/authors/new ">Adicionar autor</a></li>
            <li><a href="/books ">Livros</a></li>
            <li><a href="/books/new ">Adicionar livro</a></li>
        </ul>
    </nav>
</header>