<header>
    <nav>
        <a href="/">App</a>
        <ul>
            <li><a href="/authors ">Autores</a></li>
            <li><a href="/authors/new ">Adicionar autor</a></li>
        </ul>
    </nav>
</header>