<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FilePond + Plugins -->
    <!-- Toda f*cking vez que tento importar stylesheets de cdn não funciona se não tiver media="screen" -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" media="screen" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" media="screen">

    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- Other Scripts -->
    <script defer src="/javascripts/fileUpload.js"></script>

    <!-- Meu CSS -->
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Minha Estante</title>
</head>
<body>
    <div class="container">
        <%- include ('../partials/header.ejs') %>
        <div class="inner-container">
            <p style="color:red;"><%- include ('../partials/errorMessage.ejs') %></p>
            <%- body %> 
        </div>
    </div>
</body>
</html>