<h2>Todos os autores</h2>
<form action="/authors" method="GET">
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name" value="<%=busca.name%>">
    </div>
    <button type="submit">Buscar</button>
</form>
<br>
<div>
    <% authors.forEach(author => {%>
        <div><%=author.name%></div>
    <% }) %>
</div>
